common:
  env:
    APP_HOST: "https://substrate-tip-bot.parity-stg.parity.io"
    APPROVERS_GH_ORG: "paritytech-stg"
    APPROVERS_GH_TEAM: "tip-bot-approvers"
    POLKASSEMBLY_ENDPOINT: "https://test.polkassembly.io/api/v1/"
  secrets:
    WEBHOOK_SECRET: ref+vault://kv/gitlab/parity/mirrors/substrate-tip-bot/opstooling-parity-stg#WEBHOOK_SECRET
    PRIVATE_KEY: ref+vault://kv/gitlab/parity/mirrors/substrate-tip-bot/opstooling-parity-stg#PRIVATE_KEY
    GITHUB_CLIENT_SECRET: ref+vault://kv/gitlab/parity/mirrors/substrate-tip-bot/opstooling-parity-stg#GITHUB_CLIENT_SECRET
    ACCOUNT_SEED: ref+vault://kv/gitlab/parity/mirrors/substrate-tip-bot/opstooling-parity-stg#ACCOUNT_SEED
    APP_ID: ref+vault://kv/gitlab/parity/mirrors/substrate-tip-bot/opstooling-parity-stg#APP_ID
  ingress:
    annotations:
      external-dns.alpha.kubernetes.io/target: traefik-external.parity-stg.parity.io.
    rules:
      - host: substrate-tip-bot.parity-stg.parity.io
        http:
          paths:
            - path: /
              pathType: ImplementationSpecific
              backend:
                service:
                  name: substrate-tip-bot
                  port:
                    name: http
    tls:
      - hosts:
          - substrate-tip-bot.parity-stg.parity.io
        secretName: substrate-tip-bot.parity-stg.parity.io
