name: Keep Polkadot cache
on:
  schedule:
    - cron: 0 3 */6 * * # Every 6 days at 3 am.

# The Github Actions cache is removed if not used for 7 days.
# In this repository, we have a Polkadot build cache that takes a long time to build.
# This workflow will restore the cache every 6 days, in order to preserve it.

jobs:
  keep-polkadot-cache:
    timeout-minutes: 15
    runs-on: ubuntu-22.04
    env:
      POLKADOT_VERSION: 'v0.9.42'

    steps:
      - uses: actions/checkout@v3.3.0
        with:
          path: substrate-tip-bot
      - name: Restore cached Polkadot build
        uses: actions/cache/restore@v3
        with:
          path: |
            polkadot-sdk/target/release
          key: ${{ runner.os }}-${{ env.POLKADOT_VERSION }}-${{ hashFiles('substrate-tip-bot/polkadot.e2e.patch') }}
