name: E2E reusable workflow
on:
  workflow_call:
    inputs:
      polkadot-version:
        required: true
        type: string

jobs:
  reusable-e2e:
    timeout-minutes: 120
    runs-on: ubuntu-22.04
    container: paritytech/ci-linux:production
    env:
      POLKADOT_VERSION: 'polkadot-v1.7.1'

    steps:
      - uses: actions/checkout@v3.3.0
        with:
          path: substrate-tip-bot
      - name: Setup Node.js
        uses: actions/setup-node@v3.5.1
        with:
          node-version: "18.16"
      - run: npm i -g yarn@1.22.19
      - run: yarn --frozen-lockfile
        working-directory: substrate-tip-bot
      - uses: actions/checkout@v3.3.0
        with:
          repository: paritytech/polkadot-sdk
          ref: ${{ inputs.polkadot-version }}
          path: polkadot-sdk
      - name: Apply Polkadot patches
        run: git apply ../substrate-tip-bot/polkadot.e2e.patch
        working-directory: polkadot-sdk
      - name: Restore cached Polkadot build
        id: polkadot-cache-restore
        uses: actions/cache/restore@v3
        with:
          path: |
            polkadot-sdk/target/release
          key: ${{ runner.os }}-${{ inputs.polkadot-version }}-${{ hashFiles('substrate-tip-bot/polkadot.e2e.patch') }}
      - name: Build Polkadot
        if: steps.polkadot-cache-restore.outputs.cache-hit != 'true'
        run: |
          rustup update nightly
          rustup update stable
          rustup target add wasm32-unknown-unknown --toolchain nightly
          cargo build --release --locked --features=fast-runtime -p polkadot
        working-directory: polkadot-sdk
      - name: Save Polkadot build cache
        uses: actions/cache/save@v3
        with:
          path: |
            polkadot-sdk/target/release
          key: ${{ runner.os }}-${{ inputs.polkadot-version }}-${{ hashFiles('substrate-tip-bot/polkadot.e2e.patch') }}
      - name: Run a local Rococo node
        run: |
          polkadot-sdk/target/release/polkadot --rpc-external --no-prometheus --no-telemetry --chain=rococo-dev --tmp --alice --execution Native --rpc-port 9902 &
          until curl -s '127.0.0.1:9902'; do sleep 3; done
        timeout-minutes: 1
      - name: Run the tests
        run: yarn test:e2e
        working-directory: substrate-tip-bot
