name: Test
on:
  pull_request:
  push:
    branches:
      - main
      - rzadp/run-tests

jobs:
#  test-integration:
#    timeout-minutes: 15
#    runs-on: ubuntu-22.04
#    steps:
#      - uses: actions/checkout@v3.3.0
#      - name: Run the local Kusama and Polkadot nodes
#        run: |
#          docker run -d --rm -p 9901:9901 parity/polkadot:v0.9.42 --chain=kusama-dev --tmp --alice --execution Native --ws-port 9901 --ws-external --force-kusama
#          docker run -d --rm -p 9900:9900 parity/polkadot:v0.9.42 --chain=dev --tmp --alice --execution Native --ws-port 9900 --ws-external
#      - run: yarn --network-concurrency 1 --frozen-lockfile
#      - run: yarn test:integration

  test-e2e:
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    env:
      POLKADOT_VERSION: 'v0.9.42'

    steps:
      - uses: actions/checkout@v3.3.0
        with:
          path: substrate-tip-bot
      - uses: actions/checkout@v3.3.0
        with:
          repository: paritytech/polkadot
          ref: ${{ env.POLKADOT_VERSION }}
          path: polkadot
      - name: Apply Polkadot patches
        run: git apply ../substrate-tip-bot/polkadot.e2e.patch
        working-directory: polkadot
      - name: Restore cached Polkadot build
        id: polkadot-cache-restore
        uses: actions/cache/restore@v3
        with:
          path: |
            polkadot/target/release
          key: ${{ runner.os }}-${{ env.POLKADOT_VERSION }}-${{ hashFiles('substrate-tip-bot/polkadot.e2e.patch') }}-mock
      - name: Build Polkadot
        if: steps.polkadot-cache-restore.outputs.cache-hit != 'true'
        run: |
          echo "I am building Polkadot!...."
          mkdir -p polkadot/target/release
          echo "xyz" > polkadot/target/release/out.txt
      - name: Save Polkadot build cache
        uses: actions/cache/save@v3
        with:
          path: |
            polkadot/target/release
          key: ${{ runner.os }}-${{ env.POLKADOT_VERSION }}-${{ hashFiles('substrate-tip-bot/polkadot.e2e.patch') }}-mock
