name: E2E tests against most recent Polkadot release
on:
  schedule:
    - cron: 0 3 * * SUN # Once a week on Sunday.
  workflow_dispatch:
  push:

jobs:
  test-e2e-cron:
    runs-on: ubuntu-22.04
    timeout-minutes: 120
    container: "${{ vars.E2E_TESTS_CONTAINER }}"
    steps:
      - name: Read latest polkadot tag
        id: read-tag
        run: |
          # Fetch all Polkadot release tags, get the last (newest) one, and parse its name from the output.
          TAG=$(git ls-remote --refs --tags https://github.com/paritytech/polkadot-sdk.git 'polkadot-stable*' \
            | sed 's,[^r]*refs/tags/,,' \
            | sort --version-sort \
            | tail -1)
            echo "tag=$TAG" >> $GITHUB_OUTPUT
      - name: Announce version
        run: echo "Running tests with Polkadot version ${{ steps.read-tag.outputs.tag }}"
      - uses: actions/checkout@v4
      - name: Start a local Polkadot node
        uses: ./.github/actions/run-polkadot
        with:
          polkadot-version: "${{ steps.read-tag.outputs.tag }}"
      - name: Wait for the node
        run: |
          until curl -s '127.0.0.1:9902'; do sleep 3; done
        timeout-minutes: 1
      - uses: actions/setup-node@v4
        with:
          node-version: "22.5.1"
      - run: yarn --immutable
      - run: yarn test:e2e
        timeout-minutes: 10
